.heading h1{
  font-family: 'Nosifer', cursive;
  text-align: center;
  font-size: 70px;
}
.heading h3{
  font-family: 'Srisakdi', cursive;
  font-size: 35px;
}
body {

  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url(discover.jpg);
}

nav {
  text-align: center;

}
ul li {
  list-style: none;
  display: inline-block;
  padding: 10px;
}
ul li a {
  font-size: 40px;
  text-decoration: none;
  text-align: center;
  display: block;
}
ul li a:hover {
  color: red;
}
marquee {
  scroll-behavior: smooth;
}
